{{yield paginatedItems}}
<div class="row center mt-20 mb-20">
    <div class="btn-toolbar mb-3 justify-content-between text-center m-auto" role="toolbar">
        <div class="btn-group" role="group" aria-label="First group">
            {{#if showPrevious}}
                <button {{action "previousClicked"}} type="button" class="btn btn-outline-secondary">{{previousText}}</button>
            {{else}}
                <button type="button" class="btn btn-outline-secondary" disabled>{{previousText}}</button>
            {{/if}}

  
            {{#each pageNumbers as |pageNumber|}}
                <button {{action "pageClicked" pageNumber}} type="button" class="btn btn-outline-primary">{{pageNumber}}</button>
            {{/each}}


            {{#if showNext}}
                <button {{action "nextClicked"}} type="button" class="btn btn-outline-secondary">{{nextText}}</button>
            {{else}}
                <button type="button" class="btn btn-outline-secondary" disabled>{{nextText}}</button>
            {{/if}}
        </div>
    </div>
</div>