<div class="form-group">
  <div class="input-group mb-3">
    <div class="input-group-prepend" local-class="prepend-center">
      <span class="input-group-text" local-class="prepend-text" id={{valuePath}}>{{title}}</span>
    </div>
    {{input type=type value=value placeholder=placeholder class="form-control" local-class="input-validation-style" name=valuePath aria-label=title aria-describedby="{{valuepath}}" disabled=disabled}}
    {{#if isValid}}
      <span class="fa fa-check" local-class="valid-input"></span>
    {{/if}}
  </div>
  <div class="input-error">
    {{#if showErrorMessage}}
      <div class="text-danger">
        {{v-get model valuePath "message"}}
      </div>
    {{/if}}

    {{#if showWarningMessage}}
      <div class="text-warning">
        {{v-get model valuePath "warningMessage"}}
      </div>
    {{/if}}
  </div>
</div>