<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>Manage Orders</h1>

                <nav aria-label="breadcrumb" local-class="nav-bc">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{#link-to "dashboard"}}Home{{/link-to}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Manage</li>
                    </ol>
                </nav>
            </div>

            {{#if this.model.length}}

                {{#list-pagination paginateBy=12 items=this.model as |orders|}}
                    <div class="row">
                        {{#each orders as |order|}}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card text-center h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{order.firstname}} {{order.lastname}}</h5>
                                    <p class="card-text">{{moment-format order.createdon "dddd, MMMM Do"}} at {{moment-format order.createdon "h:mm a"}}</p> 
                                    <p class="card-text" local-class="fulfilled-text"><strong>Fulfilled: </strong>{{#if order.fulfilledon}} <p class="text-success d-inline-block">Yes</p> {{else}} <p class="text-danger d-inline-block">No</p> {{/if}}</p>
                                    <p class="card-text" local-class="returned-text"><strong>Returned: </strong>{{#if order.returnedon}} <p class="text-success d-inline-block">Yes</p> {{else}} <p class="text-danger d-inline-block">No</p> {{/if}}</p>
                                    <p class="card-text">{{order.items.length}} items</p>
                                    {{#link-to "manage.manage-order" order}}
                                        <a class="btn btn-primary text-white">Manage Order</a>
                                    {{/link-to}}
                                    
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                {{/list-pagination}}

            {{else}}
                <center local-class="center-message">
                    <p>There are currently no orders created in the system.</p>
                </center>
            {{/if}}

        </div>
    </div>
</div>
