<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>{{this.model.firstname}} {{this.model.lastname}}<br></h1><br>
                <p><strong>Ordered:</strong> {{moment-format this.model.createdon "dddd, MMMM Do, YYYY"}}</p>
                <p style="margin-top: -10px; margin-bottom: -10px;"><strong>Fulfilled: </strong>{{#if this.model.fulfilledon}} <p style="color: green; display: inline-block;">Yes</p> {{else}} <p style="color: red; display: inline-block;">No</p> {{/if}}</p>
                <p style="margin-bottom: -30px;"><strong>Returned: </strong>{{#if this.model.returnedon}} <p style="color: green; display: inline-block;">Yes</p> {{else}} <p style="color: red; display: inline-block;">No</p> {{/if}}</p>
            </div>

            {{!-- <div class="card text-center" style="width: 100%;">
                <div class="card-body" style="width: 100%;">
                    
                    <h3 class="card-title">Items needed:</h3>
                    <hr>

                    {{#each this.model.items as |item|}}
                        <p class="card-text">{{item.itemtype.category.categoryname}} &raquo; <p class="text-primary" style="display: inline-block;">{{item.itemtype.partname}}</p></p>
                    {{/each}}

                    <a style="color: white;" class="btn btn-primary" {{action "complete" this.model}}>Complete Order</a>
                </div>
            </div> --}}


            <form class="form-horizontal" {{action "update" on="submit"}}>
                <div class="row">
                    <div class="col">
                        <h3 class="lead">Checkout Information:</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="first">First Name</span>
                            </div>
                            {{input type="text" value=this.model.firstname class="form-control" placeholder="John" aria-label="First" aria-describedby="first" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="last">Last Name</span>
                            </div>
                            {{input type="text" value=this.model.lastname class="form-control" placeholder="Doe" aria-label="Last" aria-describedby="last" required="true"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="address">&nbsp;&nbsp;Address&nbsp;&nbsp;</span>
                            </div>
                            {{input type="text" value=this.model.address class="form-control" placeholder="1234 South Monroe Street" aria-label="Address" aria-describedby="address" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="phone">&nbsp;&nbsp;&nbsp;Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            {{input type="tel" value=this.model.phonenumber class="form-control" placeholder="(402) 867-5309" aria-label="Phone" aria-describedby="phone" required="true"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="students">&nbsp;Students&nbsp;&nbsp;</span>
                            </div>
                            {{input type="number" value=this.model.numberofstudents min="1" max="999" class="form-control" placeholder="47" aria-label="Students" aria-describedby="students" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        &nbsp;
                    </div>

                </div><br>
                
                {{!-- <div class="card text-center" style="width: 100%;">
                    <div class="card-body" style="width: 100%;">
                        
                        <h4 class="card-title">Items in Cart:</h4>
                        <hr>

                        {{#each this.cart.items as |item|}}
                            <p class="card-text">{{item.category.categoryname}} &raquo; <p class="text-primary" style="display: inline-block;">{{item.partname}}</p></p>
                        {{/each}}

                    </div>
                </div>
                <br> --}}

                <div class="row">
                    <div class="col">
                        <h3 class="lead">Order Information:</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="first">First Name</span>
                            </div>
                            {{input type="text" value=this.model.firstname class="form-control" placeholder="John" aria-label="First" aria-describedby="first" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="last">Last Name</span>
                            </div>
                            {{input type="text" value=this.model.lastname class="form-control" placeholder="Doe" aria-label="Last" aria-describedby="last" required="true"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="address">&nbsp;&nbsp;Address&nbsp;&nbsp;</span>
                            </div>
                            {{input type="text" value=this.model.address class="form-control" placeholder="1234 South Monroe Street" aria-label="Address" aria-describedby="address" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="phone">&nbsp;&nbsp;&nbsp;Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            {{input type="tel" value=this.model.phonenumber class="form-control" placeholder="(402) 867-5309" aria-label="Phone" aria-describedby="phone" required="true"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="students">&nbsp;Students&nbsp;&nbsp;</span>
                            </div>
                            {{input type="number" value=this.model.numberofstudents class="form-control" placeholder="47" aria-label="Students" aria-describedby="students" required="true"}}
                        </div>
                    </div>
                    <div class="col">
                        &nbsp;
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&nbsp;&nbsp;&nbsp;Missing&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;Parts&nbsp;&nbsp;</span>
                            </div>
                            {{textarea type="text" value=this.model.missingparts class="form-control" aria-label="Missing Parts" height="150px" style="height: 150px;" }}
                        </div>
                    </div>
                </div>
                <br>
                
                {{!-- <div class="card text-center" style="width: 100%;">
                    <div class="card-body" style="width: 100%;">
                        
                        <h4 class="card-title">Items in Cart:</h4>
                        <hr>

                        {{#each this.cart.items as |item|}}
                            <p class="card-text">{{item.category.categoryname}} &raquo; <p class="text-primary" style="display: inline-block;">{{item.partname}}</p></p>
                        {{/each}}

                    </div>
                </div> --}}
                <br>

                <button type="submit" class="btn btn-success" style="float: right;">Update Order</button>
            </form>
        </div>
    </div>
</div>