<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{outlet}}
			<div class="jumbotron text-center">
				<h1>Manage Orders</h1>

				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<ol class="breadcrumb pt-3 justify-content-center">
						<li class="breadcrumb-item">
							<LinkTo @route="admin.index">Home</LinkTo>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Manage</li>
					</ol>
				</nav>
			</div>

			{{#if this.model.length}}

			<ListPagination @paginateBy={{12}} @items={{this.model}} as |orders|>
				<div class="row">
					{{#each orders as |order|}}
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="card text-center h-100">
							<div class="card-body">

								{{#if order.missingparts}}
									<div local-class="warning-bubble">
										<h5><span class="badge badge-pill badge-danger" id='badge-{{order.id}}'>!</span></h5>
										<BsTooltip @title="This order is missing returned items" @triggerElement="#badge-{{order.id}}" />
									</div>
								{{/if}}

								<h5 class="card-title">{{order.firstname}} {{order.lastname}}</h5>
								<p class="card-text">{{moment-format order.createdon "dddd, MMMM Do"}} at
									{{moment-format order.createdon "h:mm a"}}</p>
								<p class="card-text" local-class="fulfilled-text"><strong>Fulfilled:
									</strong>{{#if order.fulfilledon}}
								<p class="text-success d-inline-block">Yes</p> {{else}} <p
									class="text-danger d-inline-block">No</p> {{/if}}</p>
								<p class="card-text" local-class="returned-text"><strong>Returned:
									</strong>{{#if order.returnedon}}
								<p class="text-success d-inline-block">Yes</p> {{else}} <p
									class="text-danger d-inline-block">No</p> {{/if}}</p>
								<p class="card-text">{{order.items.length}} items</p>
								<LinkTo @route="admin.manage.manage-order" class="btn btn-primary text-white" @model={{order}}>Manage Order</LinkTo>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</ListPagination>

			{{else}}
			<div class="text-center">
				<p>There are currently no orders created in the system.</p>
			</div>
			{{/if}}

		</div>
	</div>
</div>