<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
				<h1 class="mb-0">{{this.model.category.categoryname}}</h1>
            </div>

			<BsAlert @type="success" @visible={{this.showSuccess}} @fadeDuration={{500}}>
				<strong>Success!</strong> Item has been successfully added to your <LinkTo @route="cart" class="alert-link">shopping cart</LinkTo>.
			</BsAlert>

			<BsAlert @type="danger" @visible={{this.showError}} @fadeDuration={{500}}>
				<strong>Error!</strong> You already have all of the available items of this type in your <LinkTo @route="cart" class="alert-link">shopping
					cart</LinkTo>.
			</BsAlert>

            {{!-- Search form --}}
            <div class="input-group md-form form-sm form-2 pl-0">
                <Input class="form-control my-0 py-1" @type="text" placeholder="Search" @aria-label="Search" @value={{this.search}} />
                <div class="input-group-append">
                    <span class="input-group-text lighten-3" id="basic-text1"><FaIcon @icon="search" /></span>
                </div>
            </div>
            <br>

			{{#if this.filtered}}
				{{!-- <BsAccordion as |accordion|>
					{{#animated-each this.filtered use=this.transition as |itemtype|}}
						<AccordionItem @itemtype={{itemtype}} @accordion={{accordion}} @tagName='' @callSuccess={{action "callSuccess"}} @callDanger={{action "callDanger"}}></AccordionItem>
					{{/animated-each}}
				</BsAccordion> --}}

				<ul class="list-group">
					{{#animated-each this.filtered use=this.transition as |itemtype|}}
						<LibraryItemRow @itemtype={{itemtype}} @tagName='' @callSuccess={{action "callSuccess"}}
							@callDanger={{action "callDanger"}}></LibraryItemRow>
					{{/animated-each}}
				</ul>
			{{else}}
				<div class="text-center mt-4">
					{{#if this.search}}
						Sorry, there are no items found matching the search term &quot;<span class="text-secondary">{{this.search}}</span>&quot;.
					{{else}}
						Sorry, there are no item in this category yet. Please check back later.
					{{/if}}
				</div>
			{{/if}}

            <br>
        </div>
    </div>
</div>
{{outlet}}