<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>{{this.model.firstname}} {{this.model.lastname}}<br></h1><br>
                <p><strong>Created On:</strong> {{moment-format this.model.createdon "dddd, MMMM Do, YYYY"}}</p>
                <p style="margin-bottom: -40px;"><strong>Fulfilled On:</strong>{{#if this.model.fulfilledon}} <p style="color: green; display: inline-block;">{{moment-format this.model.fulfilledon "dddd, MMMM Do, YYYY"}}</p> {{else}} <p style="color: red; display: inline-block;">Not yet fulfilled</p> {{/if}}</p>
            
                <nav aria-label="breadcrumb" style="margin-bottom: -60px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{#link-to "dashboard"}}Home{{/link-to}}</li>
                        <li class="breadcrumb-item">{{#link-to "return.index"}}Return{{/link-to}}</li>
                        <li class="breadcrumb-item active" aria-current="page">{{this.model.firstname}} {{this.model.lastname}}</li>
                    </ol>
                </nav>
            </div>



            <div class="card text-center" style="width: 100%;">
                <div class="card-body" style="width: 100%;">
                    
                    <h4 class="card-title">Item Check-in</h4><br>
                    {{!-- <p class="card-text"><strong>Created on: </strong>{{moment-format this.model.createdon 'dddd, MMMM Do, YYYY'}}</p> --}}
            

                    <table class="table table-hover rounded">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.model.items as |item|}}
                                <tr>
                                    <td><strong>{{item.itemtype.partname}}</strong></td>
                                    <td>
                                    {{!-- onchange={{action "modifyQuantity" itemtype value="target.value"}} --}}
                                    {{!-- value="select-{{item.itemtype.id}}" --}}
                                    <select name="select-{{item.itemtype.id}}" class="form-control" id="select-{{item.itemtype.id}}" style="text-align-last:center;"> 
                                        <option value="0" selected="true">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    {{!-- <ul class="list-group list-group-flush">      
                        {{#each this.model.items as |item|}}
                            <li class="list-group-item">{{item.itemtype.partname}}</li>
                            <p class="card-text">{{item.itemtype.partname}}</p>
                        {{/each}}
                    </ul> --}}
                    
                    <br>
                    <a href="#" class="btn btn-primary" {{action "finish" this.model}}>Mark as returned</a>
                </div>
                {{!-- <div class="card-footer text-muted">
                    2 days ago
                </div> --}}
            </div>
            
        </div>
    </div>
</div>


{{!-- What happens When overdue? Fine? --}}
{{!-- Possibly email alert saying return date is coming up --}}
{{!-- Order placed page after checkout --}}
{{!-- Ember Data for cart --}}
{{!-- Not all records show up on return page, only first 10 --}}