<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron text-center">
				<h1>Add Items</h1>

				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<ol class="breadcrumb pt-3 justify-content-center">
						<li class="breadcrumb-item">
							<LinkTo @route="admin.index">Home</LinkTo>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Add</li>
					</ol>
				</nav>
			</div>

			<BsProgress class="mb-2" as |pg|>
				<pg.bar @value={{this.currentStep}} @minValue={{1}} @maxValue={{4}} @showLabel={{false}} />
			</BsProgress>

			<BsAlert @type="danger" @visible={{this.showError}} @fadeDuration={{500}}>
				<strong>Error!</strong> {{this.errorMsg}}
			</BsAlert>

			<BsAlert @type="success" @visible={{this.showSuccess}} @fadeDuration={{500}}>
				<strong>Success!</strong> {{this.successMsg}}
			</BsAlert>

			{{#animated-if (eq this.currentStep 1) use=this.transition}}
				<div class="text-center">
					<h3 class="mb-4 mt-5">Would you like to...</h3>

					<div class="row justify-content-center">
						<div class="col-4">
							<div class="card card-block d-flex h-100" local-class="card-hover" {{action "setAddingNewCategory"}}>
								<div class="card-body align-items-center d-flex justify-content-center">
									<h4 class="my-5">Add a new Category</h4>
								</div>
							</div>
						</div>
						<div class="col-2">
							<div local-class="line"></div>
							<div local-class="wordwrapper">
								<div local-class="word">or</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card card-block d-flex h-100" local-class="card-hover" {{action "incrementStep"}}>
								<div class="card-body align-items-center d-flex justify-content-center">
									<h4 class="my-5">Choose an existing Category</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/animated-if}}

			{{#animated-if (eq this.currentStep 2) use=this.transition}}
				{{#if this.addingNewCategory}}
					<h3 class="mb-4 mt-5 text-center">Add new Category...</h3>
					<form class="px-4">
						<div class="form-group">
							<label for="newCategoryName">Category Name</label>
							<Input type="text" class="form-control" id="newCategoryName" @value={{this.newCategoryName}} />
						</div>
						<div class="form-group">
							<label for="newCategoryDescription">Description</label>
							<Textarea type="text" class="form-control" id="newCategoryDescription" rows="3"
								@value={{this.newCategoryDescription}} />
							</div>
						<div class="form-group pb-2">
							<label for="newCategoryImage">Upload Image</label>
							{{!-- @value={{this.newCategoryImage}} --}}
							<input type="file" class="form-control-file" id="newCategoryImage" onchange={{action "uploadFile"}}/>
						</div>
						<hr>
					</form>
				{{else}}
					<h3 class="mb-4 mt-5 text-center">Choose a Category...</h3>
					<div class="row px-4">
						{{#each this.model.categories as |category| }}
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card h-100" local-class="card-hover" {{action "selectCategory" category}}>
									<div class="overlay-card" id={{category.id}}>
										<svg id='checkmark-{{category.id}}' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
											<circle id='circle-{{category.id}}' cx="26" cy="26" r="25" fill="none" />
											<path id='check-{{category.id}}' fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
										</svg>
									</div>
									<div class="card-body">
										<h4 class="card-title text-dark">
											{{category.categoryname}}
										</h4>
										<p class="card-text text-muted">{{category.description}}</p>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
					<hr>
				{{/if}}
				<div class="d-flex justify-content-between mt-4" style="padding-left: 1.5rem; padding-right: 1.5rem;">
					<button type="button" class="btn btn-outline-secondary" {{action "decrementStep"}}>&laquo; Previous Step</button>
					
					{{#if this.addingNewCategory}}
						<button type="button" class="btn btn-outline-success" {{action "incrementStep"}}>Next Step &raquo;</button>
					{{/if}}
				</div>
			{{/animated-if}}

			{{#animated-if (eq this.currentStep 3) use=this.transition}}
				<div class="text-center">
					<h3 class="mb-4 mt-5">Would you like to...</h3>
				
					<div class="row justify-content-center">
						<div class="col-4">
							<div class="card card-block d-flex h-100" local-class="card-hover" {{action "setAddingNewItem"}}>
								<div class="card-body align-items-center d-flex justify-content-center">
									<h4 class="my-5">Add new Items</h4>
								</div>
							</div>
						</div>
						<div class="col-2">
							<div local-class="line"></div>
							<div local-class="wordwrapper">
								<div local-class="word">or</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card card-block d-flex h-100" local-class="card-hover" {{action "incrementStep"}}>
								<div class="card-body align-items-center d-flex justify-content-center">
									<h4 class="my-5">Add more of an existing Item</h4>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<hr class="mt-5">
				<button type="button" class="btn btn-outline-secondary mt-2" {{action "decrementStep"}}>&laquo; Previous Step</button>

			{{/animated-if}}

			{{#if (eq this.currentStep 4)}}

				{{#if this.addingNewItem}}
					<h3 class="mb-4 mt-5 text-center">Add new Items...</h3>
					<form class="px-4">
						<div class="form-group">
							<label for="newItemName">Part Name</label>
							<Input type="text" class="form-control" id="newItemName" @value={{this.newItemName}} />
						</div>
						<div class="form-group">
							<label for="newItemDescription">Description</label>
							<Textarea type="text" class="form-control" id="newItemDescription" rows="3"
								@value={{this.newItemDescription}} />
							</div>
						<div class="form-group">
							<label for="newItemQuantity">Quantity</label>
							<Input type="number" class="form-control" id="newItemQuantity" @value={{this.newItemQuantity}} />
						</div>
					</form>
					<div class="d-flex justify-content-between mt-5">
						<button type="button" class="btn btn-outline-secondary" {{action "decrementStep"}}>&laquo; Previous Step</button>
						<button type="button" class="btn btn-success" {{action "submitNew"}}>Submit</button>
					</div>
				{{else}}
					<h3 class="mb-2 mt-5 text-center">Number of new items to add...</h3>
					<p class="text-muted mb-5 text-center">Select the type of item, and how many you would like to add.</p>
					<div class="d-flex justify-content-center">
						<div class="col-5 align-self-center">
							<div class="row justify-content-center">
								<button type="button" class="btn btn-lg text-muted" {{action "incrementQuantity"}}>
									<FaIcon @icon="chevron-up" @size="3x" />
								</button>
							</div>
							<div class="row justify-content-center">
								<AnimatedContainer>
									{{#animated-value this.newItemQuantity rules=this.rules duration=75 as |v|}}
										<h3 class="my-auto py-2">{{v}}</h3>
									{{/animated-value}}
								</AnimatedContainer>
							</div>
								<div class="row justify-content-center">
								<button type="button" class="btn btn-lg text-muted" {{action "decrementQuantity"}}>
									<FaIcon @icon="chevron-down" @size="3x" />
								</button>
							</div>
						</div>
						<div class="col-5 d-flex justify-content-center">
							<ul class="list-group w-100">
								{{#each this.itemtypesByCategory as |itemtype|}}
									<li class="list-group-item list-group-item-action" id="{{itemtype.id}}" {{action 'selectItemtype' itemtype}}>{{itemtype.partname}}</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<hr class="mt-5">
					<div class="d-flex justify-content-between mt-2">
						<button type="button" class="btn btn-outline-secondary" {{action "decrementStep"}}>&laquo; Previous Step</button>
						<button type="button" class="btn btn-success" {{action "submitExisting"}}>Submit</button>
					</div>
				{{/if}}

				
			
			{{/if}}
		</div>
	</div>
</div>
{{outlet}}