<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>{{this.model.firstname}} {{this.model.lastname}}<br></h1><br>
                <p local-class="ordered-text"><strong>Ordered On:</strong> {{moment-format this.model.createdon "dddd, MMMM Do, YYYY"}}</p>

                <nav aria-label="breadcrumb" local-class="nav-bc">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{#link-to "dashboard"}}Home{{/link-to}}</li>
                        <li class="breadcrumb-item">{{#link-to "fulfill.index"}}Fullfill{{/link-to}}</li>
                        <li class="breadcrumb-item active" aria-current="page">{{this.model.firstname}} {{this.model.lastname}}</li>
                    </ol>
                </nav>
            </div>

            <div class="alert alert-success" local-class="display-none" id="success-alert">
                <button type="button" class="close" data-dismiss="alert" {{action "hideAlert"}}>x</button>
                <strong>Success! </strong>
                The order has been fulfilled successfully.
            </div>

            <div class="card text-center w-100">
                <div class="card-body q-100">
                    
                    <h3 class="card-title">Items needed:</h3>
                    <hr>

                    {{#each this.model.items as |item|}}
                        <p class="card-text">{{item.itemtype.category.categoryname}} &raquo; <p class="text-primary d-inline-block">{{item.itemtype.partname}}</p></p>
                    {{/each}}

                    <a class="btn btn-primary text-white" {{action "complete" this.model}}>Complete Order</a>
                </div>
            </div>
            
        </div>
    </div>
</div>