<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>Fulfill Orders</h1>

                <nav aria-label="breadcrumb" style="margin-bottom: -60px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{#link-to "dashboard"}}Home{{/link-to}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Fulfill</li>
                    </ol>
                </nav>
            </div>

            {{#if filteredCheckouts.length}}

                {{#list-pagination paginateBy=12 items=filteredCheckouts as |tickets|}}
                    <div class="row">
                        {{#each tickets as |ticket|}}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card text-center h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticket.firstname}} {{ticket.lastname}}</h5>
                                    <p class="card-text">{{moment-format ticket.createdon "dddd, MMMM Do"}} at {{moment-format ticket.createdon "h:mm a"}}</p> 
                                    {{!-- ticket.createdon --}}
                                    <p class="card-text">{{ticket.items.length}} items</p>
                                    {{#link-to "fulfill.fulfill-order" ticket}}
                                        <a class="btn btn-primary text-white">Fulfill Order</a>
                                    {{/link-to}}
                                    
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                {{/list-pagination}}

            {{else}}
                <center style="margin-top: 10vh;">
                    <p>There are currently no pending orders to fulfill. </p>
                    <p>To manage a past order, head to the {{#link-to "manage.index"}}manage orders{{/link-to}} section to view and modify past and present orders.</p>
                </center>
            {{/if}}
        </div>
    </div>
</div>
