<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>My Account</h1><br>
                <h4 class="lead">{{this.auth.user.firstname}} {{this.auth.user.lastname}}</h4><br>
                <button type="button" class="btn btn-outline-danger btn-sm" {{action "logout"}}>Log Out</button>
            </div>

			<BsAlert @type="success" @visible={{this.showSuccess}} @fadeDuration={{500}}>
				<strong>Success!</strong> Your profile has been saved successfully.
			</BsAlert>
			
			<BsAlert @type="danger" @visible={{this.showError}} @fadeDuration={{500}}>
				<strong>Error!</strong> {{this.errorMsg}}
			</BsAlert>

            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm">
                        <ValidatedInput @model={{this.auth.user}} @valuePath="firstname" @placeholder="John" @didValidate={{this.didValidate}} @title="First Name" />
                    </div>
                    <div class="col-sm">
                        <ValidatedInput @model={{this.auth.user}} @valuePath="lastname" @placeholder="Doe" @didValidate={{this.didValidate}} @title="Last Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <ValidatedInput @type="email" @model={{this.auth.user}} @valuePath="email" @placeholder="JohnDoe@gmail.com" @didValidate={{this.didValidate}} @title="Email" />
                    </div>
                    <div class="col-sm">
                        <ValidatedInput @model={{this.auth.profile}} @valuePath="phonenumber" @placeholder="(402) 867-5309" @didValidate={{this.didValidate}} @title="Phone" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <ValidatedInput @model={{this.auth.profile}} @valuePath="address" @placeholder="1234 S. Monroe Street" @didValidate={{this.didValidate}} @title="Address" />
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-success float-right" disabled={{not (and (v-get this.auth.user 'firstname' 'isValid') (v-get this.auth.user 'lastname' 'isValid') (v-get this.auth.user 'email' 'isValid') (v-get this.auth.profile 'isValid'))}} {{action "save"}}>Save</button>
                    </div>
                </div>
                
                
                <br>
            </form>

            <hr local-class="line">

            <h3 class="mb-3 mt-3 text-center text-md-left">My Orders</h3>
            {{#if this.auth.user.profile.checkouts}}
                <div class="row">
                    {{#each this.auth.user.profile.checkouts as |order|}}
						<OrderCard @order={{order}} @tagName="div" class="col-lg-4 col-md-6 mb-4"></OrderCard>
                    {{/each}}
                </div>
            {{else}}
				<p>You do not have any orders associated with your account.</p>
				<p>You can browse our library of items to check out <LinkTo @route="library.index">here</LinkTo>.</p>
            {{/if}}

        </div>
    </div>
</div>
