<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  {{#link-to "index" class="navbar-brand"}}{{fa-icon "book"}} Lending Library {{/link-to}}
  {{!-- <a class="navbar-brand" href="/">{{fa-icon "book"}} Lending Library </a> --}}
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "about"}}<a class="nav-link">About</a>{{/link-to}}
      </li>

      <li class="nav-item">
        {{#link-to "library"}}<a class="nav-link">Library</a>{{/link-to}}
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      {{#if auth.isLoggedIn}}
        {{!-- <li class="nav-item dropdown">
          {{#link-to "account"}}<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>{{/link-to}}
          <div class="dropdown-menu">
            {{#link-to "account"}}<a class="dropdown-item" href="#">Manage Account</a>{{/link-to}}
            <a class="dropdown-item" {{action "logout"}}>Logout</a>
            <div class="dropdown-divider"></div>
          </div>
        </li> --}}
        <li class="nav-item">
          {{#link-to "account"}}<a class="nav-link">Account</a>{{/link-to}}
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to "login" class="nav-link"}}Login{{/link-to}}
        </li>
      {{/if}}

      {{#link-to "cart"}}<a class="nav-link">{{fa-icon "shopping-cart"}}&nbsp;Cart {{#if this.cart.cart.length}} ({{this.cart.cart.length}}) {{/if}}</a>{{/link-to}}
    
    </ul>

  </div>
</nav>



{{!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}                        <--- This was making things on the index page super horrible so I'm gonna comment it out and add it to the top of all the routes manually
    </div>
  </div>
</div> --}}

{{outlet}}
