{{!-- Skip Link for accessibility --}}
<a local-class="skip-main" href="#content">Skip to main content</a>

<BsNavbar class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 p-lg-3" as |navbar|>
	<div class="container">
		{{!--  Show this only on mobile to medium screens  --}}
		<div class="d-flex flex-row w-100 justify-content-between d-lg-none">
			<LinkTo @route="index" class="navbar-brand d-lg-none"><FaIcon @icon="book" /> Lending Library</LinkTo>
			<navbar.toggle />
		</div>

		<navbar.content>
			<navbar.nav class="d-flex flex-row justify-content-center" as |nav|>
				<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
					<LinkTo @route="about" class="nav-link">About</LinkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
					<LinkTo @route="library" class="nav-link">Library</LinkTo>
				</nav.item>

				{{#if this.auth.isLoggedIn}}

					{{#if this.auth.user.issuperuser}}
						<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
							<LinkTo @route="admin.index" class="nav-link">Admin Dashboard</LinkTo>
						</nav.item>
					{{/if}}

					<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
						<LinkTo @route="account" class="nav-link">My Account</LinkTo>
					</nav.item>
				{{else}}
					<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
						<LinkTo @route="login" class="nav-link">Login</LinkTo>
					</nav.item>
					
					<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
						<nav.linkTo @route="register">Register</nav.linkTo>
						<LinkTo @route="register" class="nav-link">Register</LinkTo>
					</nav.item>
				{{/if}}
				<nav.item class="mx-2 mx-lg-0 my-auto d-lg-none">
					<LinkTo @route="cart" class="nav-link"><FaIcon @icon="shopping-cart" />&nbsp;Cart {{#if this.cart.length}}
						({{this.cart.length}}) {{/if}}</LinkTo>
				</nav.item>
			</navbar.nav>

			{{!--  Show this only on large and up screens  --}}
			<LinkTo @route="index" class="navbar-brand d-none d-lg-block"><FaIcon @icon="book" /> Lending Library </LinkTo>

			<navbar.nav class="d-flex flex-row justify-content-start" as |nav|>
					<nav.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
						<LinkTo @route="about" class="nav-link">About</LinkTo>
					</nav.item>
					<nav.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
						<LinkTo @route="library" class="nav-link">Library</LinkTo>
					</nav.item>
			</navbar.nav>

			<navbar.nav class="d-flex flex-row justify-content-end ml-auto" as |nav2|>
				{{#if this.auth.isLoggedIn}}

					{{#if this.auth.user.issuperuser}}
						<nav2.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
							<LinkTo @route="admin.index" class="nav-link">Admin Dashboard</LinkTo>
						</nav2.item>
					{{/if}}

					<nav2.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
						<LinkTo @route="account" class="nav-link">My Account</LinkTo>
					</nav2.item>
				
				{{else}}
					<nav2.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
						<LinkTo @route="login" class="nav-link">Login</LinkTo>
					</nav2.item>
					
					<nav2.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
						<LinkTo @route="register" class="nav-link">Register</LinkTo>
					</nav2.item>
				{{/if}}

				<nav2.item class="mx-2 mx-lg-0 my-auto d-none d-lg-block">
					<LinkTo @route="cart" class="nav-link"><FaIcon @icon="shopping-cart" />&nbsp;Cart {{#if this.cart.length}}
						({{this.cart.length}}) {{/if}}</LinkTo>
				</nav2.item>
			</navbar.nav>

			
		</navbar.content>
	</div>
</BsNavbar>

<div id="content">
	{{outlet}}
</div>