<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
      <div class="jumbotron text-center">
        <h1>Shopping Cart<br></h1>
      </div>

      {{#if this.cart.cart.length}}
      <table class="table table-hover rounded">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-13"></th>
            <th scope="col" class="col-12">Product</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.cart.cart as |cartitem|}}
          <tr>
            <td><button type="button" class="btn btn-danger btn-sm" {{action "remove" cartitem.itemtype}}>Remove</button></td>
            <td><strong>{{cartitem.itemtype.partname}}</strong></td>
            <td>
              <select class="form-control" id={{one-word cartitem.itemtype.partname}} onchange={{action "modifyQuantity" cartitem.itemtype}} style="text-align-last:center;">
                {{#each (range 1 cartitem.available) as |index|}}
                  {{#if (eq index cartitem.quantity)}}
                    <option value={{index}} selected="true">{{index}}</option>
                  {{else}}
                    <option value={{index}}>{{index}}</option>
                  {{/if}}
                {{/each}}
              </select>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <hr style="margin-top: -15px;">
      <div class="d-inline-block">
        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" {{action "confirm"}}>Clear Cart</button>
      </div>

      <div class="d-inline-block float-right">
        {{#link-to "checkout"}}<button class="btn btn-success float-right">Proceed to Checkout</button>{{/link-to}}
      </div>


      <BsModal @open={{confirm}} as |Modal|>
        <Modal.header>
          <h4 class="modal-title">Confirm</h4>
        </Modal.header>
        <Modal.body>
          Are you sure you would like to clear your cart and everything inside of it?
        </Modal.body>
        <Modal.footer>
          <BsButton @onClick={{action "close"}} @type="basic">Cancel</BsButton>
          <BsButton @onClick={{action "clear"}} @type="danger">Clear Cart</BsButton>
        </Modal.footer>
      </BsModal>

      {{else}}
        <center>
          <p>There are currently no items in your cart. Please visit the {{#link-to "library"}}library{{/link-to}} to view
            items you can check out.</p>
        </center>
      {{/if}}
    </div>
  </div>
</div>