{{outlet}}
<div class="jumbotron text-center">
  <h1>Shopping Cart<<br>
  </h1>
</div>

<table class="table table-hover rounded">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="col-13"></th>
      <th scope="col" class="col-12">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {{#each item as |item|}}
      <tr>
        <td><button type="button" class="btn btn-danger btn-sm" {{action "removeFromCart" item}}>Remove</button></td>
        <td><strong>{{item.partname}}</strong></td>
        <td>${{item.cost}}</td>
        <td>&times;</td>
        <td>
          <select class="form-control" id="exampleSelect1" onchange={{action "modifyQuantity" item value="target.value"}}>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </td>
        <td>&equals;</td>
        <td>$89.97</td>
      </tr>
    {{/each}}
    {{!-- <tr>
      <td><button type="button" class="btn btn-danger btn-sm" {{action "removeFromCart" item}}>Remove</button></td>
      <td><strong>Raspberry Pi</strong></td>
      <td>$29.99</td>
      <td>&times;</td>
      <td>
        <select class="form-control" id="exampleSelect1" onchange={{action "modifyQuantity" item value="target.value"}}>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </td>
      <td>&equals;</td>
      <td>$89.97</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-danger btn-sm" {{action "removeFromCart" item}}>Remove</button></td>
      <td><strong>Little Bits LED</strong></td>
      <td>$4.99</td>
      <td>&times;</td>
      <td>
        <select class="form-control" id="exampleSelect1" onchange={{action "modifyQuantity" item value="target.value"}}>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </td>
      <td>&equals;</td>
      <td>$99.80</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-danger btn-sm" {{action "removeFromCart" item value="target.value"}}>Remove</button></td>
      <td><strong>Little Bits Buzzer</strong></td>
      <td>$3.75</td>
      <td>&times;</td>
      <td>
        <select class="form-control" id="exampleSelect1" onchange={{action "modifyQuantity" item value="target.value"}}> 
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </td>
      <td>&equals;</td>
      <td>$18.75</td>
    </tr> --}}
  </tbody>
</table>


<hr style="margin-top: -15px;">
<div class="d-inline-block float-right">
  <h5 class="d-inline-block" style="margin-top: 7px;"><strong>Total: </strong>$208.52&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
  <button class="btn btn-success float-right">Checkout</button>
</div>