<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
      <div class="jumbotron text-center">
        <h1 class="mb-0">Shopping Cart<br></h1>
      </div>

      {{#if this.cart.cart.length}}
      <table class="table table-hover rounded">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-13"></th>
            <th scope="col" class="col-12">Product</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
			{{!-- <AnimatedContainer @tag="tbody" class="w-100"> --}}
				{{!-- {{#animated-each this.cart.cart use=this.transition duration=10000 as |cartitem|}} --}}
				{{#each this.cart.cart as |cartitem|}}
					<tr>
						<td class="align-middle"><button type="button" class="btn btn-danger btn-sm" {{action "remove" cartitem.itemtype}}>Remove</button></td>
						<td class="align-middle"><strong>{{cartitem.itemtype.partname}}</strong></td>
						<td class="align-middle">
							<select class="form-control" id={{cartitem.id}}
								onchange={{action "modifyQuantity" cartitem}} local-class="quantity-select">
								{{#each (range 1 cartitem.available) as |index|}}
									{{#if (eq index cartitem.quantity)}}
										<option value={{index}} selected="true">{{index}}</option>
									{{else}}
										<option value={{index}}>{{index}}</option>
									{{/if}}
								{{/each}}
							</select>
						</td>
					</tr>
				{{/each}}
				{{!-- {{/animated-each}} --}}
			{{!-- </AnimatedContainer> --}}
        </tbody>
      </table>

      <hr local-class="line">
      <div class="d-inline-block">
        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" {{action "confirm"}}>Clear Cart</button>
      </div>

      <div class="d-inline-block float-right">
        <LinkTo @route="checkout"><button type="button" class="btn btn-success float-right">Proceed to Checkout</button></LinkTo>
      </div>


      <BsModal @open={{this.confirm}} as |Modal|>
        <Modal.header>
          <h4 class="modal-title">Confirm</h4>
        </Modal.header>
        <Modal.body>
          Are you sure you would like to clear your cart and everything inside of it?
        </Modal.body>
        <Modal.footer>
          <BsButton @onClick={{action "close"}} @type="basic">Cancel</BsButton>
          <BsButton @onClick={{action "clear"}} @type="danger">Clear Cart</BsButton>
        </Modal.footer>
      </BsModal>

      {{else}}
        <div class="text-center">
          <p>There are currently no items in your cart. Please visit the <LinkTo @route="library">library</LinkTo> to view
            items you can check out.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>