<div class="container">
  <div class="row">
    <div class="col-md-12">{{outlet}}
      <div class="jumbotron text-center">
        <h1>Shopping Cart<<br>
        </h1>
      </div>

      {{#if this.cart.items.length}}
      <table class="table table-hover rounded">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="col-13"></th>
            <th scope="col" class="col-12">Product</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.cart.items as |item|}}
          <tr>
            <td><button type="button" class="btn btn-danger btn-sm" {{action "remove" item}}>Remove</button></td>
            <td><strong>{{item.partname}}</strong></td>
            <td>
              {{!-- onchange={{action "modifyQuantity" item value="target.value"}} --}}
              <select class="form-control" id="exampleSelect1" onchange={{action "modifyQuantity" item target.value}}>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <hr style="margin-top: -15px;">
      <div class="d-inline-block">
        <button type="button" class="btn btn-outline-danger btn-sm" {{action "clear"}}>Clear Cart</button>
      </div>

      {{!-- {{#bs-modal-simple title="Clear Confirmation" closeTitle="Cancel" submitTitle="Clear" open=songToDelete}}
  Are you sure you would like to clear {{this.cart.items.length}} items from your cart?
  {{/bs-modal-simple}} --}}

      <div class="d-inline-block float-right">
        <button class="btn btn-success float-right">Checkout</button>
      </div>

      {{else}}
      <center>
        <p>There are currently no items in your cart. Please visit the {{#link-to "library"}}library{{/link-to}} to view
          items you can check out.</p>
      </center>
      {{/if}}
    </div>
  </div>
</div>