<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="mb-0">Checkout<br></h1>
            </div>

			<BsAlert @type="danger" @visible={{this.showError}} @fadeDuration={{500}}>
				<strong>Sorry!</strong> We don't have any {{this.errorPart}}'s in stock. Please remove this item from your <LinkTo @route="cart" class="alert-link">cart</LinkTo> and try again.
			</BsAlert>

			<div class="overlay" id='overlay'>
				<div class="jumbotron text-center px-5">
					<button type="button" class="close" local-class="close-button" aria-label="Close" {{action 'hideSuccess'}}>
						<span aria-hidden="true">&times;</span>
					</button>
					<svg id='checkmark' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
						<circle id='circle' cx="26" cy="26" r="25" fill="none" />
						<path id='check' fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
					</svg>
					<h2 class="mb-4">Success!<br></h2>
					<h5>Your order has been placed!</h5>
					<p class="mb-1">We will let you know when your order is ready to be picked up by email.</p>
					{{#if this.auth.isLoggedIn}}
						<p>You can also check on the status of you order at any time on the <LinkTo @route='account'>My Account</LinkTo> page.</p>
					{{/if}}
				</div>

			</div>

            <form class="form-horizontal">
				<div class="row">
					<div class="col-sm">
						{{#if this.auth.isLoggedIn}}
							<div class="input-group mb-3">
								<div class="input-group-prepend" local-class="prepend-center">
									<span class="input-group-text" local-class="prepend-text" id="first">First Name</span>
								</div>
								<Input @type="text" @value={{this.auth.user.firstname}} class="form-control" local-class="input-style" @aria-label="First Name" @aria-describedby="first" @disabled={{true}} />
								<FaIcon @icon="check" local-class="valid-input" />
							</div>
						{{else}}
							<ValidatedInput @model={{this.model.newCheckout}} @valuePath="firstname" @placeholder="John" @didValidate={{this.didValidate}} @title="First Name" />
						{{/if}}
					</div>

					<div class="col-sm">
						{{#if this.auth.isLoggedIn}}
							<div class="input-group mb-3">
								<div class="input-group-prepend" local-class="prepend-center">
									<span class="input-group-text" local-class="prepend-text" id="last">Last Name</span>
								</div>
								<Input @type="text" @value={{this.auth.user.lastname}} class="form-control" local-class="input-style" @aria-label="Last Name" @aria-describedby="last" @disabled={{true}} />
								<FaIcon @icon="check" local-class="valid-input" />
							</div>
						{{else}}
							<ValidatedInput @model={{this.model.newCheckout}} @valuePath="lastname" @placeholder="Doe" @didValidate={{this.didValidate}} @title="Last Name" />
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						{{#if this.auth.isLoggedIn}}
							<div class="input-group mb-3">
								<div class="input-group-prepend" local-class="prepend-center">
									<span class="input-group-text" local-class="prepend-text" id="email">Email</span>
								</div>
								<Input @type="email" @value={{this.auth.user.email}} class="form-control" local-class="input-style" @aria-label="Email" @aria-describedby="email" @disabled={{true}} />
								<FaIcon @icon="check" local-class="valid-input" />
							</div>
						{{else}}
							<ValidatedInput @model={{this.model.newCheckout}} @valuePath="email" @placeholder="johndoe@gmail.com" @didValidate={{this.didValidate}} @title="Email" />
						{{/if}}
					</div>

					<div class="col-sm">
						{{#if this.auth.isLoggedIn}}
							<div class="input-group mb-3">
								<div class="input-group-prepend" local-class="prepend-center">
									<span class="input-group-text" local-class="prepend-text" id="phone">Phone</span>
								</div>
								<Input @type="text" @value={{this.auth.profile.phonenumber}} class="form-control" local-class="input-style"
									@aria-label="Phone" @aria-describedby="phone" @disabled={{true}} />
								<FaIcon @icon="check" local-class="valid-input" />
							</div>
						{{else}}
							<ValidatedInput @type="tel" @model={{this.model.newCheckout}} @valuePath="phonenumber" @placeholder="(402) 867-5309" @didValidate={{this.didValidate}} @title="Phone" />
						{{/if}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						{{#if this.auth.isLoggedIn}}
							<div class="input-group mb-3">
								<div class="input-group-prepend" local-class="prepend-center">
									<span class="input-group-text" local-class="prepend-text" id="address">Address</span>
								</div>
								<Input @type="text" @value={{this.auth.profile.address}} class="form-control" local-class="input-style"
									@aria-label="Address" @aria-describedby="address" @disabled={{true}} />
								<FaIcon @icon="check" local-class="valid-input" />
							</div>
						{{else}}
							<ValidatedInput @model={{this.model.newCheckout}} @valuePath="address" @placeholder="1234 S. Monroe Street" @didValidate={{this.didValidate}} @title="Address" />
						{{/if}}
					</div>

					<div class="col-sm">
						<ValidatedInput @model={{this.model.newCheckout}} @valuePath="numberofstudents" @placeholder="47" @didValidate={{this.didValidate}} @title="Students" @type="number" />
					</div>
				</div>
				<br>
            </form>

            <div class="card text-center w-100">
                <div class="card-body w-100">
                    
                    <h4 class="card-title">Review Cart:</h4>
                    <hr>

                    {{#each this.cart.cart as |cartitem|}}
                        <p class="card-text">{{cartitem.itemtype.category.categoryname}} &raquo; <p class="text-primary d-inline-block">{{cartitem.itemtype.partname}} ({{cartitem.quantity}})</p></p>
                    {{/each}}

                </div>
            </div>
            <br>

			<div class="row">
				<div class="col align-self-start">
					<LinkTo @route="cart" tagName="button" type="button" class="btn btn-outline-secondary">&laquo; Edit Cart</LinkTo>
				</div>
				<div class="col align-self-end">
					{{#if this.auth.isLoggedIn}}
						<button type="submit" class="btn btn-success float-right" {{action "checkout"}}
							disabled={{v-get this.model.newCheckout "numberofstudents" "isInvalid"}}>Checkout &raquo;</button>
					{{else}}
						<button type="submit" class="btn btn-success float-right" {{action "checkout"}}
							disabled={{v-get this.model.newCheckout "isInvalid"}}>Checkout &raquo;</button>
					{{/if}}
					
				</div>
			</div>
            
        </div>
    </div>
</div>

{{outlet}}