{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
</div>

<div class="row">
  {{#each model as |item|}}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img alt="image" class="card-img-top" src="/static/ember/assets/{{item.imagepath}}" ></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{item.name}}</a>
          </h4>
          <p class="card-text">{{item.description}}</p>
          {{#if auth.isLoggedIn}}
          {{input type="number" class="input-sm form-control" value=item.quantity placeholder="Quantity" autofocus="autofocus"}}
          <button type="submit" class="btn btn-lg btn-primary btn-block" {{action "add" item item.quantity}}>Add to cart</button>
          {{else}}
          Unable to add. Please login!
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
