{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
</div>

{{!-- 
{{#list-pagination paginateBy=5 items=model as |teams|}}
  <ul>
    {{#each teams as |team|}}
      <li>{{team.name}}</li>
    {{/each}}
  </ul>
{{/list-pagination}} --}}

{{#list-pagination paginateBy=6 items=this.model as |categories|}}
  <div class="row">
    {{#each categories as |category|}}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img alt="image" class="card-img-top" src={{category.image}}></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{category.categoryname}}</a>
            </h4>
            <p class="card-text">{{category.description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/list-pagination}}

{{!-- 
<div class="row">
  {{#each this.model as |category|}}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img alt="image" class="card-img-top" src={{category.image}}></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{category.categoryname}}</a>
          </h4>
          <p class="card-text">{{category.description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div> --}}


