<div class="container">
  <div class="row">
    <div class="col-md-12">{{outlet}}
      <div class="jumbotron text-center">
        <h1>Login</h1><br>
        <p>Sign in to your account with the UNO Lending Library to proceed.</p><br>
        {{!-- <button {{action "logout"}}>Log out</button> --}}

        {{#if this.auth.errorMsg}}
          <p class="text-danger">Incorrect Username or Password</p>
        {{/if}}

        {{!-- {{#if auth.isLoggedIn}}
          <p class="text-success">Successfully logged in!</p>
        {{/if}} --}}

        <form>
          <div class="form-row align-items-center">
            <div class="col-lg-7 float-none m-auto">
              <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">&nbsp;<FaIcon @icon="user" />&nbsp;</div>
                </div>
                <Input @type="text" class="form-control" @value={{this.auth.username}} @id="username" @enter={{action "login"}} placeholder="Username" @autofocus="autofocus" />
              </div>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-lg-7 float-none m-auto">
              <label class="sr-only" for="inlineFormInputGroup">Password</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">&nbsp;<FaIcon @icon="lock" />&nbsp;</div>
                </div>
                
                <Input @type={{this.passwordHiddenValue}} class="form-control input-validation-style" @value={{this.auth.password}} @id="password" @enter={{action "login"}} placeholder="Password" />
                
                {{#if this.passwordHidden}}
                  <span local-class="passwordToggle" {{action "togglePasswordHidden"}} role="button"><FaIcon @icon="eye" /></span>
                {{else}}
                  <span local-class="passwordToggle" {{action "togglePasswordHidden"}} role="button"><FaIcon @icon="eye-slash" /></span>
                {{/if}}

              </div>
            </div>
          </div>
          <div class="form-row align-items-center pt-3">
			  <div class="col-lg-7 m-auto">
				<Input @type="checkbox" @checked={{this.auth.remember}} class="mr-2" />Remember me on this computer
			  </div>
          </div>
          <br>
          <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3 float-none m-auto">
              <button class="btn btn-primary btn-lg btn-block" {{action "login"}}>Login</button>
            </div>
          </div>
          <div class="mt-10">
            <p class="text-center">Need an account? <LinkTo @route="register">Register Now.</LinkTo></p>
          </div>
        </form>


       

        {{!-- <div class="form-horizontal form-group form-group-lg row align-items-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <input type="email" class="form-control" placeholder="johndoe@unomaha.edu">
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <input type="password" class="form-control" placeholder="password">
    </div>
  </div>
  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button class="btn btn-primary btn-lg btn-block">Login</button>
    </div>
  </div> --}}
      </div>
    </div>
  </div>
</div>