{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
  <p>This is the Packages page.<br></p>
</div>

<div class="row">
  {{#each model as |package|}}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{package.name}}</a>
          </h4>
          <p class="card-text">{{package.description}}</p>
          <h4>
            Package Contents:
          </h4>
            {{#each package.packageitemtypequantities as |item|}}
              <ul>
                <li>{{item.itemtype.name}}</li>
              </ul>
              <p>Quantity: {{item.quantity}}</p>
            {{/each}}
          <button type="submit" class="btn btn-lg btn-primary btn-block" {{action "add" package package.quantity}}>Add to cart</button>
          {{input type="number" class="input-sm form-control" value=package.quantity placeholder="Quantity" autofocus="autofocus"}}
        </div>
      </div>
    </div>
  {{/each}}

            <!--
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 1</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 2</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 3</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 4</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 5</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="localhost/image" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project 6</a>
                  </h4>
                  <h5>$124.99</h5>
                  <p class="card-text">This is a product example!</p>
                </div>
              </div>
            </div>
          -->

</div>
