<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">

        <h1>Register</h1><br>
        <p class="mb-0">Creating an account will allow for you to see the progress of</p>
        <p>orders with the Lending Library, and makes checking out tech much easier.</p><br>

        {{#if showAlert}}
          <div class="alert alert-danger" id="danger-alert">
            <button type="button" class="close" data-dismiss="alert" {{action "hide"}}>x</button>
            <strong>Error! </strong>
            {{this.validationErrorMsg}}
          </div>

        {{/if}}

        <form class="form-horizontal">
          <h5 class="mb-20 text-left">Login Information</h5>
          <div class="row">
            <div class="col">
              {{validated-input model=model valuePath="username" placeholder="JohnDoe1980" didValidate=didValidate title="Username" value=username}}
            </div>
            <div class="col">
              {{validated-input type="email" model=model valuePath="email" placeholder="JohnDoe@gmail.com" didValidate=didValidate title="Email" value=email}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{validated-input type="password" model=model valuePath="password" placeholder="•••••••••••" didValidate=didValidate title="Password" value=password}}
            </div>
            <div class="col">
              {{validated-input type="password" model=model valuePath="passwordConfirmation" placeholder="•••••••••••" didValidate=didValidate title="Confirm"}}
            </div>
          </div>
          <br>
          <h5 class="mb-20 text-left">Personal Information</h5>
          <div class="row">
            <div class="col">
              {{validated-input model=model valuePath="firstname" placeholder="John" didValidate=didValidate title="First Name" value=first}}
            </div>
            <div class="col">
              {{validated-input model=model valuePath="lastname" placeholder="Doe" didValidate=didValidate title="Last Name" value=last}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{validated-input model=model.profile valuePath="address" placeholder="1234 S. Monroe Street" didValidate=didValidate title="Address" value=address}}
            </div>
            <div class="col">
              {{validated-input model=model.profile valuePath="phonenumber" placeholder="(402) 867-5309" didValidate=didValidate title="Phone" value=phone}}
            </div>
          </div>
          <br>

          <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3 float-none m-auto">
              <button type="button" class="btn btn-primary btn-lg btn-block" {{action "register"}} disabled={{v-get model "isInvalid"}}>Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>